#portfolioTitle
{
  padding-left: 20px;
}

body 
{
  margin-top: 40px !important; /* the height of the navigation bar */
}

.linkedin-icon, .fa-file-pdf
{
  font-size: 2.5rem;
  border-radius: 50%;
  transition: color 0.3s ease;
}

.github-icon
{
  font-size: 2.5rem;
  border-radius: 50%;
  transition: color 0.3s ease;
  vertical-align: sub;
  margin-left: 1%;
}

.linkedin-icon:hover
{
  color: #0077b5; /* LinkedIn blue color */
}

.github-icon:hover 
{
  color: #000; /* black color */
}

.github-icon-game:hover
{
  color: #fff !important;
}

.itch-io-icon {
  font-size: 2.5rem;
  border-radius: 50%;
  transition: color 0.3s ease;
  vertical-align: sub;
  margin-left: 1%;
}

.itch-io-icon:hover {
  color: #fff;
}

.google-play-icon {
  font-size: 2.3rem;
  border-radius: 50%;
  transition: color 0.3s ease;
  vertical-align: sub;
  margin-left: 1%;
}

.google-play-icon:hover {
  color: #fff;
}

.fa-file-pdf:hover
{
  color: #a40404;
}

.navbar
{
  justify-content: center; 
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar-collapse
{
  justify-content: right;
  margin-right: 20px;
  margin-left:20px;
}

.navbar-icons
{
  text-align: center;
  margin-left: 3%;
  margin-right: 3%;
}

#about-me-header 
{
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
}

.text-header
{
  padding-bottom: 5px;
  font-weight: bold;
}

.about-me-text 
{
  text-align: left;
  margin-bottom: -10px;
}

#developed-games 
{
  text-align: center; /* left alignment may be better*/
}

#main-header
{
  text-align: center;
}

#game-header
{
  padding-left: 5%;
  /* text-align: center; */
  margin-bottom: 3%;
}

.list-group-item
{
  padding-left: 30px;
}

.video-container
{
  width: 50%;  /* the width of the video */
  height: 60%; /* the height of the video */
  padding-bottom: 28.3%; /* the aspect ratio of the video */
  position: relative; /* position the video */
  margin: auto;
  margin-bottom: 30px;
  display: inline-block;
  padding-left: 5%;

  min-width: 336px;
  min-height: 224px;
}

.video-container iframe
{
  position: absolute; 
  width: 100%;
  height: 100%;
}

.container-text
{
  padding-right: 5%;
  padding-left: 5%;
  margin-bottom: 50px;
}

.prevent-container-margin /* for titles located below game explanation */
{
  margin-bottom: -31px !important;
}

#contact-info
{
  text-align: center;
  padding-bottom: 10px;
}

.video-border {
  border-radius: 10px;
  border: 3px solid lightgray;
}

.spacer-bot
{
  margin-bottom: 50px;
}

.spacer-bot-v2
{
  margin-bottom: 90px;
}

.align-ending
{
  text-align: end;
}

.align-beginning
{
  text-align: start;
}

#peakimgDiv
{
  padding-left: 5%;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px; 
}

img
{
  width: 52.6%;
  height: 100%;
  border: 3px #adb5bd solid;
  border-radius: 10px;

  min-width: 336px;
  min-height: 224px;
}

.design-note
{
  text-align: center;
}

/* ----------------------- Quiz page style ----------------------- */

/* Add space between header and block */
.spacer {
  height: 75px;
}

/* Style the quiz block */
.quiz-block {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #b0b4bc; /* Gray background */
  border: 3px solid #d4d4d4;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style the text inside the quiz block */
.question-container h2 {
  width: 455px;
  height: 125px;
  font-size: 18px;
  padding: 10px; 
  background-color: rgba(0, 0, 0, 0);
  border: 3px solid #282424; 
  border-radius: 10px; 
  margin: 0 auto;
  color: #453332; 
}

/* Style the answer option buttons (50x50) */
.options {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.option {
  padding-left: 25px;
  /* padding-top: 20px; */
  display: flex;
  align-items: center;
  width: 450px;
  height: 50px;
  background-color: #b0b4bc; 
  color: #000; 
  margin: 5px 0;
}

.option-button {
  width: 50px;
  height: 50px;
  background-color: #0077b5; /* Gray background for the buttons */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.option-button:hover {
  background-color: #005685; /* Change to a darker shade or another color */
}

.option-button:active {
  background-color: #002438; /* Change to a darker shade or another color */
}

.option-text {
  width: 250px;
  height: 50px;
  font-size: 15px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  padding-top: 18px;
  color: #453332;
  border-bottom: 2px solid #282424;
}
